<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • Books</title>
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
<div id="books">
  <form id="addBook" action="#">
    <div>
      <label for="coverImage">CoverImage: </label><input id="coverImage" type="file" />
      <label for="title">Title: </label><input id="title" type="text" />
      <label for="author">Author: </label><input id="author" type="text" />
      <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
      <label for="keywords">Keywords: </label><input id="keywords" type="text" />
      <button id="add">Add</button>
    </div>
  </form>
</div>

<script id="bookTemplate" type="text/template">
  <img src="<%= coverImage %>"/>
  <ul>
    <li><%= title %></li>
    <li><%= author %></li>
    <li><%= releaseDate %></li>
    <li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>
  </ul>

  <button class="delete">Delete</button>
</script>

<script src="http://code.jquery.com/jquery-1.10.1.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>
<script src="js/models/book.js"></script>
<script src="js/collections/library.js"></script>
<script src="js/views/books.js"></script>
<script src="js/views/library.js"></script>
<script src="js/app.js"></script>
</body>
</html>